header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
  }

  .logout-button {
    margin-left: auto; /* Asegura que el botón esté a la derecha */
  }
