.task-item {
    margin: 16px 0;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .title-container {
    display: flex;
    align-items: center;
  }

  .task-checkbox {
    margin-right: 8px;
  }

  .creation-date {
    text-align: right;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }

  mat-card-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
