@import "assets/styles/theme";

html, body { height: 100%;
             margin: 0 }
body { margin: 0; font-family: Inter, "Helvetica Neue", sans-serif; }

#app-root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }